body {
	width: 100%;
	margin: auto auto;
	font-family: arial;
}

.container {
	margin: auto auto;
	padding: 40px;
}

nav	{
	height: 80px
	width:100%;
	background-color: grey;
	display: fixed;

}

nav > h1, nav ul {
	display: inline-block;
}

.name {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

ul li {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.pages {
	float: right;
	margin-right: 20px;
}

input {
	border-radius: 4px;
	width: 300px;
	height: 20px;
}

.glass {
	width: 20px;
	border: 1px solid grey;
	border-radius: 4px;
}

form {
	display: inline-block;
}

.bar {
	display: inline-block;
}

.arrow {
	border: 1px solid black;
	color: black;
	border-radius: 4px;
}

.bar > p {
	border: 1px solid black;
	border-radius: 4px;
}

.text {
	color: grey;
}
a {
	text-decoration: none;
}

.text a:link {
	color: blue;
}
