body {
	width: 100%;
	margin: auto auto;
	font-family: arial;
}

.container {
	margin: auto auto;
	padding: 40px;
}

nav	{
	height: 80px
	width:100%;
	background-color: lightgrey;
	display: fixed;
	border-bottom: 1px solid grey;

}

nav > h1, nav ul {
	display: inline-block;
}

.name {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

ul li {
	display: inline-block;
	font-size: 20px;
	margin-right: 20px;
}

.pages {
	float: right;
	margin-right: 20px;
}

input {
	border-radius: 4px;
	width: 400px;
	height: 30px;
	border: 1px solid grey;
}
.software {
	font-weight: bold;
	font-size: 15px;
	font-family: arial;
}

.glass {
	width: 25px;

}

.mag {
	float: right;
	background-color: white;
	margin-left: 5px;
	border: 1px solid grey;
}

form {
	display: inline-block;
}

.bar {
	display: inline-block;
	margin-top: 30px;
	margin-left: 50px;
	border: 1px solid black;
	height: 30px;
}

.button1 {
	float: left;
	margin-right: -5px;
	background-color: white;
	height: 30px;
}

.button2 {
	float: right;
	margin-left: -5px;
	background-color: white;
	height: 30px;
}

.entry {
	background-color: white;
	height: 30px;
}

.text {
	color: grey;
	margin-top: 40px;
}

a {
	text-decoration: none;
	color: blue;
	font-weight: bold;
}